<!doctype html>
<html lang="en">
	<head>
		<title>My First Admin</title>
		<link rel="stylesheet" href="styles/ng-admin.min.css">
	</head>
	<body ng-app="myApp">
		<div ui-view="ng-admin"></div>
		<script src="js/ng-admin.min.js"></script>
		<script src="js/admin.js"></script>
	</body>
</html>
