<ul>
	<li> admin:admin</li>
	<li> user:user</li>
	<li> tuner:tuner</li>
</ul>

<form method="POST" action="/login">
	<h4>Login</h4>
	<input type="input" name="login">
	<br>
	<h4>Password</h4>
	<input type="input" name="password">
	<br>
	<br>
	<input type="submit" value="submit">
</form>
