<script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
<script type="text/javascript" src="/js/dependencies/jquery-3.1.1.js"></script>
<script type="text/javascript">

	$(function() {
		io.socket.on('/channels/espn/captions/update', function (event) {
			console.log('update', event);
		});

		io.socket.on('/channels/espn/captions/create', function (event) {
			console.log('create', event);
		});

		io.socket.get('/v1/channels/espn/captions/', function (data, res) {
			console.log('Captions: ', data);
		});

		io.socket.on('channel', function (event) {
			console.log(event);
		});

		io.socket.get('/v1/channels/', function (data, res) {
			console.log('Channels: ', data);
		});
	});

</script>
